Repository redhat-developer/service-binding-operator, pull requests merged in 2022-07, with the labels that each got.

#1161 Enable annotations mapping to be optional
  .github/workflows/pr-checks.yaml
  docs/userguide/modules/exposing-binding-data/pages/adding-annotation.adoc
  pkg/binding/annotationmapper.go
  pkg/binding/definition.go
  pkg/binding/definition_test.go
  pkg/binding/mocks/mocks.go
  pkg/binding/model.go
  pkg/binding/registry/registry.go
  pkg/reconcile/pipeline/handler/collect/impl.go
  pkg/reconcile/pipeline/handler/collect/impl_test.go
  test/acceptance/features/bindAppToServiceAnnotationsOptional.feature
Labels: approved, lgtm

#1181 Update sample apps
  samples/apps/spring-elasticsearch/Dockerfile.app
  samples/apps/spring-petclinic/Dockerfile.app
Labels: kind/documentation, approved, lgtm, ok-to-test, acceptance-tests-skipped

#1186 Update version of PerconaXtraDBCluster and collect kube resources for OpenShift CI jobs
  .github/actions/collect-kube-resources/action.yaml
  hack/collect-kube-resources.sh
  install.sh
  make/acceptance.mk
  test/acceptance/features/supportExistingOperatorBackedServices.feature
Labels: approved, lgtm, kind/test, ci

#1188 Add negative scenario for Provisioned Service referencing non-existing secret
  test/acceptance/features/bindAppToProvisionedService.feature
Labels: approved, lgtm, kind/test

#1168 Do not skip acceptance tests if the main Dockerfile is changed.
  .github/actions/check-skip-acceptance-tests/action.yaml
Labels: kind/bug, approved, lgtm, ci, acceptance-tests-skipped

#1189 fix(ci): collect kube resources and split acceptance testing jobs
  .github/workflows/pr-checks.yaml
  hack/collect-kube-resources.sh
  test/acceptance/features/workloadResourceMapping.feature
Labels: kind/bug, approved, lgtm, ci
